<h1>Recommend me for my EB2-NIW visa application</h1>
<p> Hello someone I personally know, I probably sent you here to review my work.</p>
<p> This app is a work in progress, and this page will be a compelling presentation on why you should recommend me</p>
<p> Anyways, here's the call to action button: <%= link_to 'Recommend me', new_recommendation_path, class: 'ui green button' %></p>
