<div id="done-message" class="ui segment">
  <h1 class="ui center aligned header">Emailed for signature!</h1>
  <p>Thank you, the final document has been emailed to you for signature.</p>
  <p><em><strong>Note:</strong> you can always edit and resend the document by clicking <%= link_to 'here', recommendation_path(@recommendation) %>.</em></p>
</div>
