<p>
  Dear
  <%= @r.first_name %><br/>
  <br/>
  Thank you for recommending me. No, really, thank you. This may not have
  seemed like much, but this was huge for me. If there's ever any
  way I could make it up to you, please don't hesitate to reach out.<br/>
  <br/>
  At the very least, I owe you a coffee.<br/>
  <br/>
  I've asked too much of you already, but I must impose one last time. Please
  share this email with 2-3 other influential people whose recommendations you
  believe will have an impact on my application.<br/>
  <br/>
  Let them know that they can help a young entrepreneur move from Pakistan
  at <a href="https://recommend.gilani.me">https://recommend.gilani.me</a><br/>
  <br/>
  Sincerely<br/>
  <br/>
  SM Amin Gilani
</p>
